*.o
*.a
*.lo
autom4te.cache
config.log
config.status
configure.lineno
Makefile
Makefile.in
.libs
.deps
stamp-h1
*.la
ac_config.h
build
temp
.vs
*.suo
*.user
*.userosscache
*.sln.docstates
ac_config.h.in~
aclocal.m4
configure
doc/libconfig.info
examples/c++/example1
examples/c++/example2
examples/c++/example3
examples/c++/example4
examples/c/example1
examples/c/example2
examples/c/example3
examples/c/example4
lib/libconfig++.pc
lib/libconfig++Config.cmake
lib/libconfig.pc
lib/libconfigConfig.cmake
libconfig.spec
libtool
tests/libconfig_tests
